@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --brand: 15 92 70; --brand2: 22 163 74; }
details summary::-webkit-details-marker { display: none; }
details[open] .faq-icon { transform: rotate(45deg); }
